@page "/"

<style>
body {
    width: 60%;
    margin-left: 20%;
}
</style>

<input class="neat input-box" @bind=@Text style="width: 50%" @onkeypress="args => { if (args.Key[0] is 'E' /*enter*/ ) IncrementCount(); }" />
<button class="neat submit-button" @onclick="IncrementCount">Aaaa</button>
<p class="result">
    <pre>@Result</pre>
</p>


@code {
    private string Result = "";
    private string Text = "";
    
    private void IncrementCount()
    {
        if (NaiveSharpEval.Executor.ExecuteFSharp(Text, out var res))
            Result = res;
        else
            Result = "Error!";
    }

    private
}
